<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Test</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class='show-container' style="background:rgb(<%= red %>, <%= green %>, <%= blue %>)"></div>

  <form action='/user/favorites' method='POST'>
    <input type='hidden' name='user' value='joey'>
    <input type='hidden' name='colors' value='<%= colors %>'>
    <input type='hidden' name='test' value='<%= text %>'>
    <input type='hidden' name='watson' value='<%= response %>'>
    <button type='submit'>Save to Favorites</button>
  </form>

  <% tones0.forEach((el) => { %>
    <p><%= el.score %></p>
    <p><%= el.tone_name %></p>
  <% }) %>

  <% tones1.forEach((el) => { %>
    <p><%= el.score %></p>
    <p><%= el.tone_name %></p>
  <% }) %>

  <% tones2.forEach((el) => { %>
    <p><%= el.score %></p>
    <p><%= el.tone_name %></p>
  <% }) %>

</body>
</html>
