<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Home</title>
  <%- include('../snippets/common') %>
</head>
<body>

  <%- include('../snippets/header', {
    user: user,
  }) %>

  <h2 class='recents-heading'>Recent Colors</h2>
  <div class='flex-container recents-container'>
    <% recents.forEach((el) => { %>
    <div class='show-container' style='background:rgb(<%= el.colors.red %>, <%= el.colors.green %>, <%= el.colors.blue %>)'>
      <div class='color-overlay'>
        <span class='color-text'>rgb(<%= el.colors.red %>, <%= el.colors.green %>, <%= el.colors.blue %>)</span>
      </div>
    </div>
    <% }) %>
  </div>

  <div class='index-container'>
    <h2 class='index-heading'>Welcome to ColorFy!</h2>
    <p>This project is designed to generate the perfect colors to match your mood! Simply sign up for an account, submit some text, and our app will determine the perfect color for you.</p>
    <br>
    <p>Please note that guest users can only see recent submissions, and must log in in order to fully utilize the service.</p>
    <br>
    <p>ColorFy is built on top of IBM's Watson supercomputer, and leverages its <a href='http://www.ibm.com/watson/developercloud/tone-analyzer.html'>Tone Analyzer API</a> to derive the emotions of a piece of text. This result is then put through a simple, yet effective, algorithm to determine the most fitting color for the text.</p>
    <br>
    <p>In addition to being a wickidely cool project, ColorFy is completely open source, so feel free to <a href='https://github.com/joepin/ColorFy' target='blank'>check out the code!</a> It also offers a relatively simple API, whose docs can be <a href='/api'>found here.</a></p>
  </div>

  <div style='display:none'>
  <% for (let key in frequencies) { %>
    <% if (key != '_id') { %>
      <p><%= key %>: <%= frequencies[key] %></p>
    <% } %>
  <% } %>
 </div>

</body>
</html>
