<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="scripts/scripts.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
<header>
      <nav>
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
      </nav>
    </header>

  <h1>Works!</h1>

  <a href='/search'>Search!</a>

  <% recents.forEach((el) => { %>
  <div class='show-container' style="background:rgb(<%= el.colors.red %>, <%= el.colors.green %>, <%= el.colors.blue %>)"></div>
  <% }) %>

  <% for (let key in frequencies) { %>
    <% if (key != '_id') { %>
      <p><%= key %>: <%= frequencies[key] %></p>
    <% } %>
  <% } %>

</body>
</html>
