<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Recents</title>
  <%- include('../snippets/common') %>
</head>
<body>

<%- include('../snippets/header', {
  user: user,
}) %>

<h1>All Recent Searches</h1>

  <div class='flex-container favorites-container'>
  <% recents.forEach((obj) => { %>
    <div class='individual-favorite'>
      <div class='individual-show-container' style='background:rgb(<%= obj.colors.red %>, <%= obj.colors.green %>, <%= obj.colors.blue %>)'>
        <!-- <p>timestamp: <%= obj.timestamp %></p> -->
        <!-- <div>
          <p>colors:</p>
          <p><%= obj.colors.red %></p>
          <p><%= obj.colors.green %></p>
          <p><%= obj.colors.blue %></p>
        </div> -->
      </div>
    </div>
  <% }) %>
  </div>

</body>
</html>
