<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Favorites</title>
  <%- include('../snippets/common') %>
</head>
<body>

<%- include('../snippets/header') %>

<h1>User Favorites</h1>

  <% favorites.forEach((obj) => { %>
    <p>timestamp: <%= obj.timestamp %></p>
    <p>id: <%= obj._id %></p>
    <div>
      <p>colors:</p>
      <p><%= obj.colors.red %></p>
      <p><%= obj.colors.green %></p>
      <p><%= obj.colors.blue %></p>
    </div>
    <p>Text: <%= obj.requestText %></p>
    <div class='show-container' style="background:rgb(<%= obj.colors.red %>, <%= obj.colors.green %>, <%= obj.colors.blue %>)"></div>
    <form action='/users/favorites?_method=DELETE' method='POST'>
      <input type='hidden' name='id' value='<%= obj._id %>'>
      <button type='submit'>Remove from Favorites</button>
    </form>
  <% }) %>

</body>
</html>
