<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <%- include('../snippets/common') %>
  </head>
  <body>

  <%- include('../snippets/header') %>

    <h1>Welcome <%= user %>!</h1>
    <div class='main-container flex-container'>
      <div class='credentials-container'>
        <p>Current Username: <%= dbUser.username %></p>
        <p>Current Email: <%= dbUser.email %></p>
        <br>
        <h2 class='sub-title'>Update Account Info</h2>
        <form action='/users/update?_method=PUT' method='POST' id='user-form' class='credentials-form'>
          <div class='flex-container field-container'>
            <label for='username' class='update-credential'>Username: </label>
            <input type='text' name='username' value='<%= dbUser.username %>' placeholder='username' class='update-credential'>
          </div>
          <div class='flex-container field-container'>
            <label for='Email' class='update-credential'>Email: </label>
            <input type='text' name='email' value='<%= dbUser.email %>' placeholder='email' class='update-credential'>
          </div>
          <div class='flex-container field-container'>
            <label for='Password' class='update-credential'>Password: </label>
            <input type='password' name='password' value='' placeholder='password' class='update-credential'>
          </div>
          <input type='hidden' name='id' value='<%= dbUser._id %>'>
          <div class='flex-container field-container'>
            <button type='submit' class='update-credential'>Update</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
